<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css"/>
    <title>Kino - Filmer</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1>Alla filmer</h1>
    <a href="/">Tillbaka till hem </a>
    
<section class="movies-wrapper">
    <div class="movie__page__movies">

    <article class="movie-poster">

         <div class="movie-poster__image">
        <img src="<%= movies[0].attributes.image.url %>" 
         alt="Movie Poster">
      </div>
 
        <div class="movie-info">
            <button class="movie-info-icon" aria-label="More info">
                <img src="img/info.png" alt="Information symbol">
            </button>

            <!-- Movie details to fill out space, instead of genre -->
            <h2><%= movies[0].attributes.title %></h2>
            <h3> Added: <%= movies[0].attributes.publishedAt.slice(0, 10) %></h3>

        </div>

   </div>
      </div>
      
    </article>
  
</section>

    <%- include('partials/footer') %>

</body>
</html>