<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css"/>
    <title>Single Movie</title>
</head>
<body>
 <%- include('partials/header') %>

<article class="single-movie"> 
    <img class="single-movie__img" src="<%= movie.attributes.image.url %>" alt="">
    <div class ="single-movie__text">
    <h2 class="single-movie__title"><%= movie.attributes.title %></h2> 
    <p class="single-movie__intro"><%- movie.attributes.introHtml %></p>
    </div>
</article>

    <script src="/main.js"></script>
<%- include('partials/footer') %>
</body>
</html>